.vax-trophy-diamond {
    color: cyan;
}

.vax-trophy-platinum {
    color: white;
}

.vax-trophy-gold {
    color: gold;
}

.vax-trophy-silver {
    color: silver;
}

.vax-trophy-bronze {
    color: brown;
}
