  <vax-field :caption="caption" :caption-class="captionClass" :control-class="controlClass">
      <vax-input-num v-if="type === 'number'" :name="name" :value="modelValue" v-bind="$attrs"
       :placeholder="placeholder" :required="required" :disabled="disabled" :pattern="pattern" :maxlength="maxlength" />
      <vax-input v-else :type="type" :name="name" :value="modelValue" v-bind="$attrs"
       :placeholder="placeholder" :required="required" :disabled="disabled" :pattern="pattern" :maxlength="maxlength" />
  </vax-field>
