
<vax-form :name="name" :action="action" method="POST" @submit.prevent="submitPost"
 :disabled="disabled" :has-submit="!disabled" :caption="hasCaption ? 'Informacje o placówce' : undefined">

 <vax-field caption="Rodzaj placówki">
   <vax-combobox class="vax-inline-block" name="unitType"
    :captions="arrayByIndexes( unitTypes, values.campaign.unitTypes )"
    :values="values.campaign.unitTypes" :selected-value="values.unitType"
    :disabled="!values.canChangeUnitType" />
   <vax-combobox class="vax-inline-block" name="unitSubtype"
    :captions="arrayByIndexes( unitSubtypes, values.unitSubtypesPossible )"
    :values="values.unitSubtypesPossible" :selected-value="values.unitSubtype"
    />
 </vax-field>
  
 <vax-input-field caption="Pełna nazwa placówki (wraz z patronem)" name="unitFullName" :value="values.unitFullName"
   placeholder="Szkoła Podstawowa nr 1 im. Konstantego Ildefonsa Gałczyńskiego" maxlength="100" />

 <vax-input-field caption="Skrócona nazwa placówki (max. 25 znaków łącznie)" name="unitName" :value="values.unitName"
   placeholder="SP 1 / P-le Miś" maxlength="25" />

 <vax-fieldset caption="Adres placówki">
  <vax-input-field caption="Ulica i numer" name="unitStreet" :value="values.unitStreet"
    placeholder="ulica" maxlength="50" />
  <vax-input-field caption="Dzielnica" name="unitDistrict" :value="values.unitDistrict"
    v-if="values.city.forceDistrictInput" placeholder="nazwa dzielnicy" maxlength="50" />
  <vax-input-field caption="Miasto" name="unitCity" :value="values.unitCity"
   placeholder="nazwa miasta" maxlength="50" />
  <vax-input-field caption="Kod pocztowy" name="unitZipCode" :value="values.unitZipCode"
   placeholder="xx-xxx" pattern="[0-9]{2}-?[0-9]{3}" maxlength="10" />
  <vax-input-field caption="Numer telefonu" name="unitPhone" :value="values.unitPhone" pattern="[0-9 +]{9,16}"
   placeholder="xxx xxx xxx" type="tel" maxlength="20" />
  <vax-input-field caption="Adres email" name="unitEmail" :value="values.unitEmail"
   placeholder="abc@xyz.com" maxlength="50" />
 </vax-fieldset>

 <p class="vax-margin-bottom">Uwaga: podany adres email żadnego z koordynatorów nie może być ten sam, jak adres email,
 na który otrzymano zaproszenie dla placówki.</p>
 
 <div class="">
   <vax-personal-fieldset caption="Dane koordynatora szkolnego (1) - obligatoryjne" name="coord1" :values="values.coord1"
    required :disabled="restricted" />
   <vax-personal-fieldset caption="Dane koordynatora szkolnego (2) - fakultatywne" name="coord2" :values="values.coord2"
    v-if="!(disabled && values.coord2 && values.coord2.isPlaceholder)" collapsable
    :initialCollapsed="!values.coord2 || values.coord2.isPlaceholder" :disabled="restricted && !values.coord2.isPlaceholder" />
   <vax-personal-fieldset caption="Dane koordynatora szkolnego (3) - fakultatywne" name="coord3" :values="values.coord3"
    v-if="!(disabled && values.coord3 && values.coord3.isPlaceholder)" collapsable
    :initialCollapsed="!values.coord3 || values.coord3.isPlaceholder" :disabled="restricted && !values.coord3.isPlaceholder" />
 </div>
   
 <vax-field caption="Uznawane formy dojazdów">
    <rm-t12n-select type="checkbox" caption-class="box vax-box-small vax-text-center"
     :options="values.city.t12ns" :i-checked="values.t12ns" :disabled="disabled" />
 </vax-field>
 
 <vax-fieldset caption="Uczestnicy kampanii">
  <vax-input-field caption="Całkowita liczba klas/grup" control-class="vax-numbers-4"
    type="number" name="declaredClazzes" :value="values.declaredClazzes" min="1" />

  <vax-input-field caption="Liczba uczniów/dzieci" control-class="vax-numbers-4"
   type="number" name="declaredKids" :value="values.declaredKids" min="0" />

  <vax-input-field caption="Liczba pracowników" control-class="vax-numbers-4"
   type="number" name="declaredAdults" :value="values.declaredAdults" min="0" />
 </vax-fieldset>

 <vax-field caption="Dodatkowe dni wolne/dyrektorskie (maksymalnie 3)" class="vax-margin-right-wide">
    <date-picker v-if="!disabled" :config="datePickerConfig1"
      :value="values.additionalFreeDatesValues.length > 0 ? values.additionalFreeDatesValues : undefined"
      name="additionalFreeDatesStr"
      class="input" placeholder="dd-mm-rrrr; dd-mm-rrrr" />

    <div v-if="disabled" class="input vax-height-100pct">
      {{ values.additionalFreeDatesStr }}
    </div>
 </vax-field>

 <vax-input-field caption="Imię i nazwisko dyrektora placówki"
   name="unitPrincipalName" :value="values.unitPrincipalName"
   placeholder="imię i nazwisko" maxlength="50" />
   
 <vax-fieldset caption="Niezbędne zgody" :disabled="disabled || restricted" >
  <vax-field>
   <vax-checkbox class="vax-block vax-margin-bottom" input-class="vax-margin-right" caption-class="vax-inline"
    name="agreements[0]" :checked="values.agreements[0]" required>
    Zobowiązuję się do zebrania zgód na przetwarzanie danych osobowych uczestników/rodziców lub opiekunów
    prawnych uczestników kampanii społecznej "{{ values.campaign.campaignName }}" w celu udziału w kampanii
    społecznej "{{ values.campaign.campaignName }}".
   </vax-checkbox>
   <vax-checkbox class="vax-block vax-margin-bottom" input-class="vax-margin-right" caption-class="vax-inline"
    name="agreements[1]" :checked="values.agreements[1]" required>
    Oświadczam, że posiadam zgodę koordynatora/koordynatorów placówki szkolnej/przedszkolnej kampanii społecznej
    "{{ values.campaign.campaignName }}" na przetwarzanie danych osobowych w celu udziału w kampanii
    "{{ values.campaign.campaignName }}".
   </vax-checkbox>
   <vax-checkbox class="vax-block vax-margin-bottom" input-class="vax-margin-right" caption-class="vax-inline"
    name="agreements[2]" :checked="values.agreements[2]" required>
    Oświadczam, że zebrane zgody na przetwarzanie danych osobowych będę przechowywać do zakończenia roku
    szkolnego 2017/2018 oraz okazywać na każdą prośbę Administratora danych osobowych, tj. Gminy Miasta
    Gdańska z siedzibą w Gdańsku przy ul. Nowe Ogrody 8/12, 80-803 Gdańsk. 
   </vax-checkbox>
   <vax-checkbox class="vax-block                 " input-class="vax-margin-right" caption-class="vax-inline"
    name="agreements[3]" :checked="values.agreements[3]" required>
    Potwierdzam znajomość regulaminu kampanii społecznej "{{ values.campaign.campaignName }}"
   </vax-checkbox>
  </vax-field>
 </vax-fieldset>

</vax-form>
