//@import 'bulma';
@import 'bulma/bulma.sass';

html {
    background-color: whitesmoke;
}

#div-middle {
    display: flex;

    @media (max-width: 600px ) {
        flex-direction: column;
    }
}


#div-middle-right {
    min-width: 0;
    flex-grow: 1;
}

#app-sidebar {
/*    transition: opacity 0.2s, width 0.2s; */
    transition: margin-left 0.2s,
                max-height  0.5s;
    @media (max-width: 600px) {
        max-height: 1200px;
        margin-bottom: 1rem;
    }
}

#app-sidebar.app-sidebar-hidden {
/*    opacity: 0; */
    margin-left: -13rem;

    @media (max-width: 600px) {
        /*margin-left: 0;*/
        max-height: 0;
        overflow: hidden;
    }
}
